<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
</head>
<body>
<br><br><br>
<div class="row padding">
    <div class="col-1"></div>
    <div class="col-10">
        <div class="loginUsers padding">
            <h1 style="color: red">
                LOGIN FOR PARTICIPANTS
            </h1>
            <hr style="color: red">
            <br>
            <form method="post" action="/login">
                <div>
                    <div class="col-2"></div>
                    <div class="col-6">
                        <input placeholder="username" name="username">
                        <br>
                        <br>
                        <input type="password" placeholder="password" name="password">
                        <br>
                        <br>
                        <input type="submit">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>